body {
    background: deepskyblue;
    font-family: "Avenir Next", Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.jumbotron {
    background: whitesmoke;
    margin: 40px auto;
    height: 400px;
    max-width: 85%;
    padding: 15px;
}

img {
    height: 100px;
    width: 100px;
}

.fa-sun-o {
    background: yellow;
}

#city-name {
    margin-top: 10px;
    margin-bottom: 20px;
}

#temperature {
  font-weight: 300;
}

#scale {
    color: white;
    margin-bottom: 20px;
    margin-left: 70%;

}

.btn-secondary {
    background: deepskyblue;
    border-right: 1px solid white;
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-secondary:first-of-type {
    margin-right: 10px;
}